<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">NEUSUAL</p>
            <div class="list-group">
                <li class="list-group-item ">Submitted By <%= neusualnetwork.author.username %> </li>
<!--

                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
-->
                <img class="img-responsive" src="<%= neusualnetwork.image %>" >

            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">

<!--
                <div class="caption-full">
                    <h4 class="pull-right">$<%= neusualnetwork.price %>/night</h4>
                </div>
-->
                <h3>
                    <a><%= neusualnetwork.name %></a>
                </h3>
                <p>
                    <%= neusualnetwork.description %>
                </p>
<!--
                <p>
                   <em> Submitted By <%= neusualnetwork.author.username %> </em>  
                </p>
-->
                <% if(currentUser && neusualnetwork.author.id.equals(currentUser._id)){ %>    <% /*currentUser is coming from app.js. we also check whether currentUser is true or not */ %>
                    <a class="btn btn-warning" href="/neusualhome/<%= neusualnetwork._id %>/edit">Edit</a>
                    <form id="delete-form" action="/neusualhome/<%= neusualnetwork._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <% } %>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/neusualhome/<%= neusualnetwork._id %>/comments/new">Add new Comment</a>
                </div>
                <hr>
                <% neusualnetwork.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right">10 Days ago</span>
                    </div>
                    <p><%= comment.text %></p>
                    <% if(currentUser && comment.author.id.equals(currentUser._id)){ %> 
                    <a class="btn btn-xs btn-warning" 
                    href="/neusualhome/<%= neusualnetwork._id %>/comments/<%= comment._id %>/edit ">
                    Edit
                    </a>
                    <form id="delete-form" action="/neusualhome/<%= neusualnetwork._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>